VAULT_ENABLED=true
VAULT_SKIP_VERIFY=true

VAULT_HOST=https://vault.dev.pd04.pvw.sbt
VAULT_NAMESPACE=root
VAULT_MOUNT_POINT=pd04-ift
VAULT_KV_VERSION=2

VAULT_ROLE_ID=
VAULT_SECRET_ID=

VCS_CONFIG=config/common.yaml,config/ow.yaml,config/sc-vp.yaml

NODE_TLS_REJECT_UNAUTHORIZED=0

ALLURE_ATTACH_ONLY_ON_FAILURE=true

TEST_CULTURE_USERNAME=YourOneWorkLogin
TEST_CULTURE_PASSWORD=YourOneWorkPassword
TEST_CULTURE_ENABLED=false
TEST_CULTURE_TEST_CASE_ENABLED=false
TEST_CULTURE_TEST_CYCLE_ENABLED=false
TEST_CULTURE_TEST_CYCLE_CODE=