openapi: 3.1.0
info:
  title: sbertrack
  description: Система управление элементами производственного процесса
  contact:
    name: sbertrack
    email: sbertrack@sbertech.ru
  license:
    name: Apache 2.0
    url: http://springdoc.org
  version: 34.5.1
servers:
- url: https://portal.works.prod.sbt/swtr
  description: local
tags:
- name: EntityRankMutation
  description: API изменения ранга сущности
- name: SafeData API
  description: Операции с генерацией тестовых данных в SafeData
- name: API Производственный календарь
  description: API Производственный календарь
paths:
  /rest/api/user/group/v1/sync:
    description: Запускает синхроизацию групп с внешним источником
    put:
      tags:
      - API создания/изменения группы пользователей
      summary: Запускает синхроизацию групп с внешним источником
      operationId: sync
      requestBody:
        description: Запрос на синхронизацию групп пользователей
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncUserGroupRq'
              description: Запрос на синхронизацию групп пользователей
              example: null
            examples:
              simple_user_group_creation:
                description: Запрос на синхронизацию групп пользователей
        required: true
      responses:
        '201':
          description: Успешный запуск задачи по синхронизации групп пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    id: readers_group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/taxonomy/v1/{attribute}/put:
    description: Изменяет значение в таксономическом справочнике по названию атрибута
    put:
      tags:
      - API создания/изменения таксономических справочников
      summary: Добавляет значение в таксономическом справочнике по названию атрибута
      operationId: putAttributeValue
      parameters:
      - name: attribute
        in: path
        description: Атрибут
        required: true
        schema:
          type: string
          format: String
          description: Атрибут
          examples:
          - color
          maxLength: 2147483647
          pattern: .*
        example: color
      requestBody:
        description: Успешный ответ с записью таксономического справочника
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxonomyValueRq'
              description: Тело ответа с записью таксономического справочника
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Структура ответа в случае успеха
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                description: Структура ответа в случае успеха
                example: null
              example: null
    patch:
      tags:
      - API создания/изменения таксономических справочников
      summary: Изменяет значение в таксономическом справочнике по названию атрибута
      description: Изменяет значение в таксономическом справочнике по названию атрибута
      operationId: patchAttributeValue
      parameters:
      - name: attribute
        in: path
        description: Атрибут
        required: true
        schema:
          type: string
          format: String
          description: Атрибут
          examples:
          - color
          maxLength: 2147483647
          pattern: .*
        example: color
      requestBody:
        description: Тело запроса на изменение значения в таксономическом справочнике по названию атрибута
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxonomyValueRq'
              additionalProperties: false
              description: Запрос на изменение значения в таксономическом справочнике по названию атрибута
              example: null
            examples:
              example:
                description: Запрос на изменение значения в таксономическом справочнике по названию атрибута
                value:
                  code: purple
                  name: пурпурный
                  description: пурпурный цвет
                  position: '1'
        required: true
      responses:
        '200':
          description: Успешное изменение значения в таксономическом справочнике по названию атрибута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Успешное изменение значения в таксономическом справочнике по названию атрибута
                example: null
              examples:
                success:
                  description: Успешное изменение значения в таксономическом справочнике по названию атрибута
                  value:
                    id: color::purple
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /extension/plugin/v2/rest/api/swtr_tms_plugin/v1/run/create:
    description: Создание прогона тест-кейса
    put:
      tags:
      - Test Management System
      summary: Создание прогона тест-кейса
      operationId: createTestCaseRun
      requestBody:
        description: Запрос создания прогона
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTestCaseRunRq'
              example: null
            examples:
              Запрос создания прогона:
                description: Запрос создания прогона
                value:
                  testCaseId:
                    code: TMS-12
                  testCycleId:
                    code: TMS-15
        required: true
      responses:
        '200':
          description: Прогон тест-кейса создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Id'
                additionalProperties: false
                description: Код созданного прогона
                example: null
              examples:
                success:
                  description: Код созданного прогона
                  value:
                    code: TMS-3440
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /extension/plugin/v2/rest/api/swtr_task_tracker_plugin/v1/version/update:
    description: Изменить версию (атрибут).
    put:
      tags:
      - Task Tracker Plugin
      summary: Изменить версию (атрибут).
      operationId: updateVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionDto'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionDto'
                example: null
              example: null
  /extension/plugin/v2/rest/api/sber_migration_plugin/v1/configuration:
    description: Обновить конфигурацию плагина.
    put:
      tags:
      - Migration Plugin
      summary: Обновить конфигурацию плагина.
      operationId: createOrUpdatePluginConfiguration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePluginConfigurationRq'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePluginConfigurationRs'
                example: null
              example: null
  /extension/plugin/v2/rest/api/sber_migration_plugin/v1/configuration/spaces/{spaceCode}:
    description: Обновить конфигурацию для space.
    put:
      tags:
      - Migration Plugin
      summary: Обновить конфигурацию для space.
      operationId: updateSpaceConfiguration
      parameters:
      - name: spaceCode
        in: path
        description: spaceCode
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpaceConfigurationRq'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpaceConfigurationRs'
                example: null
              example: null
  /extension/plugin/v2/rest/api/sber_components_plugin/v1/component/update:
    description: Изменить компонент.
    put:
      tags:
      - Sber Components Plugin @TT0
      summary: Изменить компонент.
      operationId: updateComponent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentDto'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentDto'
                example: null
              example: null
  /extension/plugin/v2/rest/api/jira/rest/api/2/issue/{issueIdOrKey}:
    description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getIssue`

      '
    get:
      tags:
      - SBER JIRA Api
      summary: Returns a full representation of the issue for the given issue key.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getIssue`

        '
      operationId: get
      parameters:
      - name: issueIdOrKey
        in: path
        description: issueIdOrKey
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: fields
        in: query
        description: fields
        required: true
        schema:
          type: string
          default: '*all'
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: expand
        in: query
        description: expand
        required: false
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: properties
        in: query
        description: properties
        required: true
        schema:
          type: string
          default: '*all'
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: updateHistory
        in: query
        description: updateHistory
        required: true
        schema:
          type: boolean
          default: false
          example: true
        example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SberJiraGetIssueRs'
                example: null
              example: null
    put:
      tags:
      - SBER JIRA Api
      summary: Edits an issue from a JSON representation.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-editIssue`

        '
      operationId: update
      parameters:
      - name: issueIdOrKey
        in: path
        description: issueIdOrKey
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: notifyUsers
        in: query
        description: notifyUsers
        required: true
        schema:
          type: boolean
          default: false
          example: true
        example: 'true'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SberJiraUpdateIssueRq'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SberJiraCreateIssueRs'
                example: null
              example: null
  /extension/plugin/v2/rest/api/jira/rest/api/2/issue/{issueIdOrKey}/remotelink/{linkId}:
    description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getRemoteIssueLinkById`

      '
    get:
      tags:
      - SBER JIRA Api
      summary: Get the remote issue link with the given id on the issue
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getRemoteIssueLinkById`

        '
      operationId: getRemoteLink
      parameters:
      - name: issueIdOrKey
        in: path
        description: Issue id or key
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          issue id or key:
            description: issue id or key
            value: ISSUE-123
      - name: linkId
        in: path
        description: Remote link id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          remote link id:
            description: remote link id
            value: 123
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwtrJiraIssueRemoteLinkDto'
                description: Remote issue link
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    id: 12345
                    self: https://your-jira-instance.com/rest/api/2/issue/PROJ-123/remotelink/12345
                    globalId: system=https://mycompany.com/support&id=1
                    application:
                      type: com.mycompany.myapp
                      name: My Company Application
                    relationship: causes
                    object:
                      url: https://mycompany.com/support/DEV-1234
                      title: 'DEV-1234: Fix critical bug in authentication'
                      summary: This issue is blocking the login functionality for premium users
                      icon:
                        url16x16: https://mycompany.com/support/images/icons/bug.png
                        title: Bug
                        link: https://mycompany.com/support
                      status:
                        resolved: false
                        icon:
                          url16x16: https://mycompany.com/support/images/icons/open.png
                          title: Open
                          link: https://mycompany.com/support/status/open
    put:
      tags:
      - SBER JIRA Api
      summary: Updates a remote issue link from a JSON representation, аny fields not provided are set to null.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-updateRemoteIssueLink`

        '
      operationId: updateIssueRemoteLink
      parameters:
      - name: issueIdOrKey
        in: path
        description: Номер задачи
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          Номер задачи:
            description: Номер задачи
            value: ISSUE-123
      - name: linkId
        in: path
        description: Link id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          Link id:
            description: Link id
            value: 1234567890
      requestBody:
        description: Update link request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwtrJiraUpdateRemoteLinkRq'
              description: Update link request
              example: null
            examples:
              Sample:
                description: Sample
                value:
                  application:
                    name: My Acme Tracker
                    type: com.acme.tracker
                  globalId: system=http://www.mycompany.com/support&id=1
                  object:
                    icon:
                      title: Support Ticket
                      url16x16: http://www.mycompany.com/support/ticket.png
                    status:
                      icon:
                        link: http://www.mycompany.com/support?id=1&details=closed
                        title: Case Closed
                        url16x16: http://www.mycompany.com/support/resolved.png
                      resolved: true
                    summary: Customer support issue
                    title: TSTSUP-112
                    url: http://www.mycompany.com/support?id=1
                  relationship: causes
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                description: Successful Response
                example: Пример
                maxLength: 2147483647
                pattern: .*
              examples:
                No content:
                  description: No content
                  value: No content
    delete:
      tags:
      - SBER JIRA Api
      summary: Delete the remote issue link with the given id on the issue.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-deleteRemoteIssueLinkById`

        '
      operationId: deleteRemoteLink
      parameters:
      - name: issueIdOrKey
        in: path
        description: Issue id or key
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          issue id or key:
            description: issue id or key
            value: ISSUE-123
      - name: linkId
        in: path
        description: Link id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        examples:
          Link id:
            description: Link id
            value: 1234567890
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                description: Successful Response
                example: Пример
                maxLength: 2147483647
                pattern: .*
              examples:
                No content:
                  description: No content
                  value: No content
  /extension/plugin/v2/rest/api/jira/rest/api/2/issue/{issueIdOrKey}/comment/{id}:
    description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getComment`

      '
    get:
      tags:
      - SBER JIRA Api
      summary: Returns a single comment.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-getComment`

        '
      operationId: getComment
      parameters:
      - name: issueIdOrKey
        in: path
        description: issueIdOrKey
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: expand
        in: query
        description: expand
        required: false
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwtrJiraComment'
                example: null
              example: null
    put:
      tags:
      - SBER JIRA Api
      summary: Updates an existing comment using its JSON representation.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-updateComment`

        '
      operationId: updateComment
      parameters:
      - name: issueIdOrKey
        in: path
        description: issueIdOrKey
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: expand
        in: query
        description: expand
        required: false
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwtrJiraUpdateCommentRq'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwtrJiraUpdateCommentRs'
                example: null
              example: null
    delete:
      tags:
      - SBER JIRA Api
      summary: Updates an existing comment using its JSON representation.
      description: '`https://docs.atlassian.com/software/jira/docs/api/REST/9.13.0/#api/2/issue-deleteComment`

        '
      operationId: deleteComment
      parameters:
      - name: issueIdOrKey
        in: path
        description: issueIdOrKey
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      responses:
        '200':
          description: OK
  /rest/api/workflow/v2/create:
    description: Создать схему
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Создать схему
      operationId: create
      requestBody:
        description: Запрос на создание схемы воркфлоу
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WfRepresentationForSaveDto'
              additionalProperties: false
              description: Представление dto для создания схемы воркфлоу
              example: null
            example: null
        required: true
      responses:
        '201':
          description: Успешный ответ на запрос создания схемы
          headers:
            Location:
              description: URL для получения созданного ресурса
              schema:
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                description: Идентификатор созданного объекта
                example: null
              example: null
  /rest/api/workflow/v1/workflow/list:
    description: Получить список workflow
    get:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Получить список workflow
      operationId: getWorkflowNames
      responses:
        '200':
          description: Успешный ответ на запрос списка workflow по фильтрам
          content:
            application/json:
              schema:
                type: string
                description: Список workflow по фильтрам
                example: Пример
                maxLength: 2147483647
                pattern: .*
              example: Пример
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Получить список workflow по фильтрам
      operationId: getWorkflowNamesByFilter
      requestBody:
        description: Запрос на получение списка workflow по фильтрам
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WfSchemaFilterDto'
              additionalProperties: false
              description: Запрос на получение списка workflow по фильтрам
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Успешный ответ на запрос списка workflow по фильтрам
          content:
            application/json:
              schema:
                type: string
                description: Список workflow по фильтрам
                example: Пример
                maxLength: 2147483647
                pattern: .*
              example: Пример
  /rest/api/workflow/v1/usage/suit/list:
    description: Получение списка типов юнитов использующих процесс
    post:
      tags:
      - API использования workflow
      summary: Получение списка типов юнитов использующих процесс
      operationId: getSuitList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Список кодов процессов
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuitInfo'
                maxItems: 2147483647
                minItems: 0
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    workflow_code_1:
                    - code: task
                      name: Task
                      icon: task
                    - code: idea
                      name: Idea
                      icon: idea
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/workflow/v1/usage/space-type/list:
    description: Получение списка типов спейсов использующих процесс
    post:
      tags:
      - API использования workflow
      summary: Получение списка типов спейсов использующих процесс
      operationId: getSpaceTypeList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Список кодов процессов
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpaceTypeInfoDto'
                maxItems: 2147483647
                minItems: 0
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                  - workflow_code_1:
                    - code: CHANGE
                      name: Change-команда
                    - code: RUN
                      name: Run-команда
  /rest/api/workflow/v1/usage-check:
    description: Проверить используется ли схема воркфлоу в бизнес функционале
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Проверить используется ли схема воркфлоу в бизнес функционале
      operationId: areInUse
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WfActivityDto'
                maxItems: 2147483647
                minItems: 0
                example: null
              example: null
  /rest/api/workflow/v1/units/groupedBy/workflows:
    description: Получить список уникальных workflows для набора юнитов
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      - API workflow статуса
      summary: Получить список уникальных workflows для набора юнитов
      description: Получить список уникальных workflows для набора юнитов
      operationId: getWorkflowGroups
      requestBody:
        description: Запрос на workflows для набора юнитов
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkFlowWithUnitsRq'
              additionalProperties: false
              description: Запрос на workflows для набора юнитов
              example: null
            examples:
              simple:
                description: Запрос на workflows для набора юнитов
                value:
                  unitCodes:
                  - UNIT_CODE1
                  workflows:
                  - workflowCode: WORKFLOW_1
                    pageDtoRq:
                      page: 0
                      size: 10
        required: true
      responses:
        '200':
          description: Список уникальных workflows для набора юнитов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowUnitsAndStatusesDto'
                description: Workflow для набора юнитов
                example: null
              examples:
                simple:
                  description: Список уникальных workflows для набора юнитов
                  value:
                  - workflowDefinition:
                      wfName: wfName_c45ca0d0ccd7
                      wfCode: 55dd6912-3f2f-4192-af78-2ceb06591137
                    unitsInfo:
                    - unitCode: unitCode_ed272b7ea1d5
                      unitSummary: Таска интересная
                      unitCurrentWfStatusName: В работе
                    wfStatuses:
                    - wfStatusName: Простой
                      wfStatusCode: default_workflow
                    pageSize: 10
                    totalUnits: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/workflow/v1/suit/list/create:
    description: Группировка воркфлоу по типам задачи в рамках тенанта
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API админки workflow
      - API справочника workflow
      summary: Группировка воркфлоу по типам задачи в рамках тенанта
      description: Группировка воркфлоу по типам задачи в рамках тенанта
      operationId: createWorkflowsForSuit
      requestBody:
        description: Запрос на создание воркфлоу для типа задачи
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuitWorkflowRq'
              additionalProperties: false
              description: Запрос на создание воркфлоу для типа задачи
              required:
              - code
              - wfCodes
              example: null
            examples:
              Пример:
                description: Запрос на создание воркфлоу для типа задачи
                value:
                  code: epic
                  wfCodes:
                  - SPR_WF_vbpTjGjVMxPTQ
        required: true
      responses:
        '200':
          description: Идентификатор созданного объекта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Идентификатор созданного объекта
                required:
                - id
                example: null
              examples:
                success:
                  description: Пустой идентификатор
                  value:
                    id: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/workflow/v1/status/usage-check:
    description: Проверяет, используется ли статус workflow
    post:
      tags:
      - API статусов workflow
      summary: Проверяет, используется ли статус workflow
      operationId: areInUse_1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WfStatusActivityDto'
                maxItems: 2147483647
                minItems: 0
                example: null
              example: null
  /rest/api/workflow/v1/status/save:
    description: Сохранение статуса workflow
    post:
      tags:
      - API статусов workflow
      summary: Сохранение статуса workflow
      operationId: save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WfStatusForSaveDto'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                example: null
              example: null
  /rest/api/workflow/v1/space/type/suit/list/create:
    description: Наполнение типа пространства доступными в рамках него воркфлоу
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API админки workflow
      - API справочника workflow
      summary: Наполнение типа пространства доступными в рамках него воркфлоу
      description: Наполнение типа пространства доступными в рамках него воркфлоу
      operationId: createWorkflowsForSpaceTypeAndSuit
      requestBody:
        description: Запрос на создание воркфлоу
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpaceTypeWithSuitWorkflowRq'
              additionalProperties: false
              description: Запрос на создание воркфлоу
              required:
              - code
              - suit
              - workflows
              example: null
            examples:
              Пример:
                description: Пример
                value:
                  code: PERSONAL
                  suit: task
                  workflows:
                  - code: approcess_bug_flow_v.1.2
                    default: 'true'
        required: true
      responses:
        '200':
          description: Детали атрибута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Объект ответа
                required:
                - id
                example: null
              examples:
                success:
                  description: Пустой идентификатор
                  value:
                    id: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/workflow/v1/create:
    description: Создать схему
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Создать схему
      operationId: create_1
      requestBody:
        description: Запрос на создание схемы воркфлоу
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WfRepresentationForSaveDto'
              additionalProperties: false
              description: Представление dto для создания схемы воркфлоу
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Успешный ответ на запрос создания схемы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                description: Идентификатор созданного объекта
                example: null
              example: null
      deprecated: true
  /rest/api/workflow/v1/convert:
    description: Преобразовать схему из файла в наш формат
    post:
      tags:
      - API по workflow для бизнес сущностей коры
      - API справочника workflow
      summary: Преобразовать схему из файла в наш формат
      operationId: convert
      parameters:
      - name: file
        in: query
        description: Путь к файлу
        required: true
        schema:
          type: string
          format: binary
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: /some/path/to/file
      responses:
        '200':
          description: Успешный ответ на запрос преобразования схемы из файла в наш формат
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WfRepresentationDto'
                description: Объект представления воркфлоу
                example: null
              example: null
  /rest/api/workflow/v1/action/usage-check:
    description: Проверяет, используется ли действие workflow
    post:
      tags:
      - API действий workflow
      summary: Проверяет, используется ли действие workflow
      operationId: areInUse_2
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WfActionActivityDto'
                maxItems: 2147483647
                minItems: 0
                example: null
              example: null
  /rest/api/workflow/v1/action/save:
    description: Сохранение действия workflow
    post:
      tags:
      - API действий workflow
      summary: Сохранение действия workflow
      operationId: save_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WfActionForSaveDto'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                example: null
              example: null
  /rest/api/validator/v0/create:
    description: Добавление валидатора
    post:
      tags:
      - API управления валидаторами
      summary: Добавление валидатора
      operationId: createValidator
      requestBody:
        description: Данные для создания валидатора
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwtrCreateValidatorDto'
              description: Данные для создания валидатора
              example: null
            examples:
              createValidator:
                description: Запрос создания валидатора
                value: {}
        required: true
      responses:
        '200':
          description: Успешное изменение объекта
          headers:
            Location:
              description: URL для получения объекта
              style: simple
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Успешное изменение объекта
                example:
                  id: ANYSPC
                required:
                - id
              examples:
                success:
                  description: Успешное изменение объекта с кодом ANYSPC
                  value:
                    id: ANYSPC
        '201':
          description: Успешное изменение объекта
          headers:
            Location:
              description: URL для получения объекта
              style: simple
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Успешное изменение объекта
                example:
                  id: ANYSPC
                required:
                - id
              examples:
                success:
                  description: Успешное изменение объекта с кодом ANYSPC
                  value:
                    id: ANYSPC
        '204':
          description: Успешное удаление объекта
          headers:
            Location:
              description: URL для получения объекта
              style: simple
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
                additionalProperties: false
                description: Успешное удаление объекта
                example:
                  id: ANYSPC
                required:
                - id
              examples:
                success:
                  description: Успешное удаление объекта с кодом ANYSPC
                  value:
                    id: ANYSPC
  /rest/api/v1/rating/stat/unit/votedUsers:
    description: Выдаёт расширенную статистику о проголосовавших за задачу
    post:
      tags:
      - API для получения статистики по голосованию за задачу
      summary: Выдаёт расширенную статистику о проголосовавших за задачу
      description: Выдаёт расширенную статистику о проголосовавших за задачу
      operationId: getExtStat
      requestBody:
        description: Запрос на получение расширенной статистики о проголосовавших
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingExtStatRqDto'
              additionalProperties: false
              description: Запрос на получение расширенной статистики о проголосовавщих
              example: null
            examples:
              Пример:
                description: Пример тела запроса
                value:
                  entityCode: string
                  page:
                    page: 1
                    size: 10
        required: true
      responses:
        '201':
          description: Успушное получение расширенной статистики о проголосовавших
          headers:
            Location:
              description: URL для получения созданного ресурса
              schema:
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingExtStatRs'
                example: null
              examples:
                RatingExtStatRs:
                  description: Пример ответа расширенной статистики о проголосовавших
                  value:
                    entityCode: string
                    ratingStat:
                      rating: 10
                      up: 15
                      down: 5
                    users:
                    - firstName: Иван
                      middleName: Иванович
                      lastName: Иванов
                      login: ivan123
                      email: ivan@example.com
                      createdAt: '2025-05-26T10:15:30Z'
                      action: UP
                    - firstName: Мария
                      middleName: Петровна
                      lastName: Петрова
                      login: maria456
                      email: maria@example.com
                      createdAt: '2025-05-25T08:45:00Z'
                      action: DOWN
                    pageSize: 20
                    hasNext: true
                    pageNumber: 1
                    totalElements: 100
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/v1/rating/action/unit:
    description: Ставит лайк на задачу
    post:
      tags:
      - API добавления/удаления лайка задачи
      summary: Ставит лайк на задачу
      description: Ставит лайк на задачу
      operationId: createUpVoteForUnit
      requestBody:
        description: Запрос на постановку голоса
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingCreateRqDto'
              additionalProperties: false
              description: Запрос на постановку голоса
              example: null
            examples:
              Пример:
                description: Пример тела запроса
                value:
                  entityCode: 18pE95Ic93
                  action: UP
        required: true
      responses:
        '201':
          description: Успешное проставление лайка за задачу
          headers:
            Location:
              description: URL для получения созданного ресурса
              schema:
                format: uri
        '570':
          description: Ошибка голосования
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                example: null
              examples:
                errorDto:
                  description: Невозможно повторно проголосовать за одну и ту же задачу
                  value: "{\n  \"exceptionUUID\": \"qytqZxlZx\",\n  \"uiErrorMessage\": \"Невозможно повторно проголосовать\
                    \ за одну и ту же задачу | Можно только ставить голос \"За\",\n  \"errorType\": \"SWTR_BASIC_ERROR\"\n\
                    }\n"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/v1/menu:
    description: Получить все группы 1W меню целиком в формате JSON
    get:
      tags:
      - API для работы с простой реализацией 1W меню
      summary: Получить все группы 1W меню целиком в формате JSON
      operationId: getFullOneWorkMenuAsJson
      parameters:
      - name: plugin_qualifier
        in: query
        description: Идентификатор плагина
        required: false
        schema:
          type: string
          default: core
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: core
      responses:
        '200':
          description: Список групп 1W меню
          content:
            application/json:
              schema:
                type: string
                description: Строка с меню с формате JSON
                example: Пример
                maxLength: 2147483647
                pattern: .*
              example: Пример
    post:
      tags:
      - API для работы с простой реализацией 1W меню
      summary: Обновить все 1W меню целиком. Передаваемый JSON полностью перезаписывает уже существующий в базе
      operationId: update_1
      requestBody:
        description: Обновить (полностью перезаписать) JSON с 1W меню
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneWorkMenuRq'
              additionalProperties: false
              description: Меню в формате JSON, идентификатор плагина (опционально)
              example: null
            examples:
              Пример запроса с меню в формате JSON и явно указанным плагином:
                description: Пример меню
                value: "{\n    \"menuJson\": [\n        {\n          \"key\": \"tasks\",\n          \"domain\": [\"tasks\"\
                  ],\n          \"title\": \"Задачи\",\n          \"iconCode\": \"swtrTasks\",\n          \"elements\": [\n\
                  \            {\n              \"key\": \"all_units\",\n              \"title\": \"Задачи\",\n          \
                  \    \"link\": \"/units/all\",\n              \"spaceDependant\": true,\n              \"dataTestId\": \"\
                  link.units\",\n              \"checkPower\": [\"unit:read\"]\n            },\n            {\n          \
                  \    \"key\": \"board\",\n              \"title\": \"Доски\",\n              \"link\": \"/board\",\n   \
                  \           \"spaceDependant\": true,\n              \"dataTestId\": \"link.boards.board\",\n          \
                  \    \"checkPower\": [\"board:read\"]\n            }\n          ]\n        },\n        {\n          \"key\"\
                  : \"tests\",\n          \"domain\": [\"tests\"],\n          \"title\": \"Тесты\",\n          \"iconCode\"\
                  : \"swtrTests\",\n          \"elements\": [\n            {\n              \"key\": \"test-cases\",\n   \
                  \           \"title\": \"Кейсы\",\n              \"link\": \"/tms/all\",\n              \"spaceDependant\"\
                  : true,\n              \"dataTestId\": \"link.tms.cases\",\n              \"checkPower\": [\"unit:read\"\
                  ]\n            },\n          ],\n          \"extensionPointKey\": \"TestCasesTreeExtensionPoint\"\n    \
                  \    },\n        {\n          \"key\": \"pages\",\n          \"domain\": [\"pages\"],\n          \"title\"\
                  : \"Страницы\",\n          \"iconCode\": \"swtrPages\",\n          \"elements\": [\n            {\n    \
                  \          \"key\": \"wiki\",\n              \"title\": \"Страницы\",\n              \"link\": \"/wiki\"\
                  ,\n              \"spaceDependant\": true,\n              \"dataTestId\": \"link.wiki\",\n             \
                  \ \"checkPower\": [\"unit:read\"]\n            },\n          ],\n          \"extensionPointKey\": \"PagesTreeExtensionPoint\"\
                  \n        },\n        {\n          \"key\": \"main\",\n          \"domain\": [\"tasks\", \"tests\", \"pages\"\
                  ],\n          \"elements\": [\n            {\n              \"key\": \"spaces\",\n              \"title\"\
                  : \"Проекты\",\n              \"iconCode\": \"swtrSpaces\",\n              \"link\": \"/spaces/all\",\n\
                  \              \"dataTestId\": \"link.spaces\",\n              \"checkPower\": [\"space:read\"]\n      \
                  \      }\n          ]\n        },\n        {\n          \"key\": \"admin\",\n          \"domain\": [\"tasks\"\
                  , \"tests\", \"pages\"],\n          \"title\": \"Администрирование\",\n          \"iconCode\": \"swtrAdmin\"\
                  ,\n          \"expandable\": true,\n          \"defaultExpandable\": false,\n          \"elements\": [\n\
                  \            {\n              \"key\": \"spaces-types\",\n              \"title\": \"Типы пространств\"\
                  ,\n              \"link\": \"/spaces/types\",\n              \"dataTestId\": \"link.space.types\",\n   \
                  \           \"checkPower\": [\"space_type:write\"]\n            }\n          ]\n        }\n      ]\n  }\n"
        required: true
      responses:
        '200':
          description: Только что сохраненный список групп 1W меню
          content:
            application/json:
              schema:
                type: string
                description: Строка с меню с формате JSON
                example: Пример
                maxLength: 2147483647
                pattern: .*
              example: Пример
  /rest/api/v1/import/csv/proceed/{fileCode}:
    description: Для сохранённого файла запускает процесс импорта
    post:
      tags:
      - API по работе с csv импортом
      summary: Для сохранённого файла запускает процесс импорта
      operationId: proceedImport
      parameters:
      - name: fileCode
        in: path
        description: fileCode
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProceedImportRq'
              example: null
            example: null
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              example: Пример
  /rest/api/v1/import/csv/details/{fileCode}:
    description: Возвращает детальный отчёт об импорте
    post:
      tags:
      - API по работе с csv импортом
      summary: Возвращает детальный отчёт об импорте
      operationId: getImportStatusDetails
      parameters:
      - name: fileCode
        in: path
        description: fileCode
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
          enum:
          - FATAL
          - ERROR
          - WARNING
          - SUCCESS
          - ALL
          example: Пример
        example: Пример
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRq'
              example: null
            example: null
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStatusDetailsRs'
                example: null
              example: null
  /rest/api/v1/import/csv/data/upload/{space}:
    description: Загружает в хранилище файл с юнитами
    post:
      tags:
      - API по работе с csv импортом
      summary: Загружает в хранилище файл с юнитами
      operationId: upload
      parameters:
      - name: space
        in: path
        description: space
        required: true
        schema:
          type: string
          example: Пример
          maxLength: 2147483647
          pattern: .*
        example: Пример
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              properties:
                file:
                  type: string
                  format: binary
                  example: Пример
                  maxLength: 2147483647
                  pattern: .*
                config:
                  type: string
                  format: binary
                  example: Пример
                  maxLength: 2147483647
                  pattern: .*
              required:
              - config
              - file
              example: null
            example: null
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvUploadResultRs'
                example: null
              example: null
  /rest/api/user/v1/upload/avatar:
    description: загружает и сохраняет аватар пользователя
    post:
      tags:
      - API для загрузки и отображения аватара пользователя
      summary: загружает и сохраняет аватар пользователя
      operationId: uploadUserAvatar
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                fileName:
                  type: string
                  description: Имя файла
                  example: Пример
                  maxLength: 2147483647
                  pattern: .*
                file:
                  type: string
                  format: binary
                  description: Имя файла
                  example: Пример
                  maxLength: 2147483647
                  pattern: .*
              required:
              - file
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Информация о загруженном файле аватара
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarInfoDto'
                description: Информация о загруженном файле аватара
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    externalId: '100003'
                    avatarId: d360601b-07f2-489e-9175-2431662b113a
  /rest/api/user/v1/search:
    description: Ищет пользователей по фильтру
    post:
      tags:
      - API поиска пользователей @TT0
      summary: Ищет пользователей по фильтру
      operationId: searchUsers
      requestBody:
        description: Запрос на поиск пользователей
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchRequest'
              description: Запрос на поиск пользователя
              example: null
            examples:
              simple_user_search_request:
                description: Пример запроса на поиск пользователей
                value:
                  searchString: Иванов
                  paging:
                    page: 0
                    size: 20
        required: true
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDtoRsUserBasicInfo'
                description: Список пользователей
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    content:
                    - code: user123
                      firstName: Иван
                      lastName: Иванов
                      middleName: Иванович
                      login: ivanov
                      userDetails:
                      - type:
                          code: email
                          name: Email
                          visible: true
                          properties:
                            format: email
                        value: ivanov@example.com
                    pageSize: 1
                    hasNext: true
                    pageNumber: 0
                    totalElements: 13
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/user/v1/search/by_units:
    description: Поиск пользователей в пространствах по списку задач. Находятся пользователи, которые есть в каждом пространстве
      (пересечение)
    post:
      tags:
      - API поиска пользователей @TT0
      summary: Поиск пользователей в пространствах по списку задач. Находятся пользователи, которые есть в каждом пространстве
        (пересечение)
      operationId: searchByUnitsInSpaces
      requestBody:
        description: Запрос на поиск пользователей
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchInSpacesByUnitsRq'
              additionalProperties: false
              description: Запрос на получение постраничного списка пользователей
              example: null
            examples:
              Пример:
                description: Пример с запросом на поиск пользователей
                value:
                  searchString: Иванов
                  units:
                  - SWTR-1
                  - SVTR-1
                  - SBTR-1
                  page:
                    page: 0
                    size: 10
        required: true
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDtoRsUserBasicInfo'
                description: Список пользователей
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    content:
                    - code: user123
                      firstName: Иван
                      lastName: Иванов
                      middleName: Иванович
                      login: ivanov
                      userDetails:
                      - type:
                          code: email
                          name: Email
                          visible: true
                          properties:
                            format: email
                        value: ivanov@example.com
                    pageSize: 1
                    hasNext: true
                    pageNumber: 0
                    totalElements: 13
  /rest/api/user/v1/search/by_groups:
    description: Поиск списка пользователей по пространству и группам привилегий в нем
    post:
      tags:
      - API поиска пользователей @TT0
      summary: Поиск списка пользователей по пространству и группам привилегий в нем
      operationId: searchByPermissionGroups
      requestBody:
        description: Запрос на поиск пользователей
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchRequestByGroups'
              additionalProperties: false
              description: Запрос на получение постраничного списка пользователей
              example: null
            examples:
              Пример c группами:
                description: Пример c группами
                value:
                  searchString: ''
                  spaces:
                  - SPACE1
                  - SPACE2
                  - SPACE3
                  groups:
                  - SPACE_CONTRIBUTOR
                  - SPACE_READER
                  page:
                    page: 0
                    size: 10
              Пример без групп:
                description: Пример без групп
                value:
                  searchString: ''
                  spaces:
                  - SPACE1
                  - SPACE2
                  - SPACE3
                  page:
                    page: 0
                    size: 10
        required: true
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDtoRsUserBasicInfo'
                description: Список пользователей
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    content:
                    - code: user123
                      firstName: Иван
                      lastName: Иванов
                      middleName: Иванович
                      login: ivanov
                      userDetails:
                      - type:
                          code: email
                          name: Email
                          visible: true
                          properties:
                            format: email
                        value: ivanov@example.com
                    pageSize: 1
                    hasNext: true
                    pageNumber: 0
                    totalElements: 13
  /rest/api/user/v1/find:
    description: Ищем пользователей по их кодам
    post:
      tags:
      - API поиска пользователей @TT0
      summary: Ищем пользователей по их кодам
      operationId: findByCodes
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Коды пользователей
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserBasicInfo'
                maxItems: 2147483647
                minItems: 0
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                  - code: '100000'
                    firstName: Иван
                    lastName: Иванов
                    middleName: Иванович
                    login: ivanov
                    userDetails:
                    - type:
                        code: email
                        name: Email
                        visible: true
                        properties:
                          format: email
                      value: ivanov@example.com
  /rest/api/user/v1/fileId/avatars:
    description: Отдаёт соответствие externalId и fileId аватара
    post:
      tags:
      - API для загрузки и отображения аватара пользователя
      summary: Отдаёт соответствие externalId и fileId аватара
      operationId: avatarsFileId
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Список externalId пользователей
              items:
                type: string
                example: Пример
                maxLength: 2147483647
                pattern: .*
              maxItems: 2147483647
              minItems: 0
              example: null
            example: null
        required: true
      responses:
        '200':
          description: Соответствие externalId и fileId аватара
          content:
            application/json:
              schema:
                type: string
                description: Множество оответствий externalId и fileId аватара
                example: Пример
                maxLength: 2147483647
                pattern: .*
              examples:
                Пример:
                  description: Пример
                  value:
                    '100003': d360601b-07f2-489e-9175-2431662b113a
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка доступа
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Доступ запрещен. Проверьте наличие необходимых прав
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                not_found:
                  description: Элемент не найден
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: 'Элемент ''AnyObj'' с идентификатором ''ANY'' не найден '
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                server_error:
                  description: Неизвестная серверная ошибка
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: Неизвестная ошибка
  /rest/api/user/group/v1/find:
    description: Ищет группы пользователей по фильтрам
    post:
      tags:
      - API поиска группы пользователей @TT0
      summary: Ищет группы пользователей по фильтрам
      operationId: find
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupPageRq'
              example: null
            example: null
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDtoRsUserGroupInfoDto'
                example: null
              examples:
                Пример:
                  description: Пример
                  value:
                    content:
                    - code: developers
                      name: Разработчики
                      description: BE Разработчики
                      meta:
                        mutable: 'true'
                    pageSize: 1
                    hasNext: true
                    pageNumber: 0
                    totalElements: 5
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorDTO'
                additionalProperties: false
                description: Ответ в случае ошибки
                required:
                - exceptionUUID
                - uiErrorMessage
                example: null
              examples:
                forbidden:
                  description: Ошибка запроса
                  value:
                    exceptionUUID: 18pE95Ic93
                    uiErrorMessage: '-'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
[...]
